/* Cores */

:root {
    --senai-red: #DA251C;
    --senai-pink-bg:rgba(218, 37, 28, 0.18);
    --light-gray:rgb(255, 255, 255);
}

.bg-senai {
    background-color: var(--senai-red) !important; 
}

.text-senai {
    color: var(--senai-red) !important;
}

.bg-light-gray {
    background-color: var(--light-gray);
}

.btn-senai {
    background-color: var(--senai-red);
    border-color: var(--senai-red);
    color: white;
    padding: 0. ; 
}

.btn-senai:hover {
    background-color: #DA251C; 
    border-color: #DA251C;
}


/* Style */

body {
    min-height: 100vh;
    margin: 0;
    display: block; 
}

/* Ajuste para o Mobile ser como um app*/
.mobile-container {
    width: 100%;
    min-height: 100vh;
    border-radius: 0; 
    box-shadow: none;
}

/* Container Centralizado */
.container{
    padding: 9rem;
    background-color: white;
    border-radius: 0.5rem;
    max-width: 90%; 
}

/* Header e Footer */
.navbar-top, .navbar-bottom {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Input */
.rounded-pill-custom {
    background-color: var(--senai-pink-bg); 
    border: none; 
    border-radius: 0.5rem; 
    padding: 0.75rem 1rem; 
}

/* Input Focus */
.rounded-pill-custom:focus {
    border-color: transparent !important; 
    box-shadow: none !important; 
    background-color: var(--senai-pink-bg);
}

/* Media Para Desktop */
@media (min-width: 760px) {
    .container {
        width: 400px;  
        height: 650px; 
        max-width: none; 
        max-height: none; 
    }
}